[33mYou are using pip version 6.0.7, however version 7.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.[0m
pymongo==3.0.3
Twisted==15.4.0
txmongo==15.3.0
zope.interface==4.1.3
